.auto-refresh-toggle-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 4px;
    background: var(--button-bg);
    border: none !important;
}

.auto-refresh-toggle-btn:hover{
    border: 1px solid var(--button-bd-hover) !important;
}

.auto-refresh-toggle-btn.enabled {
    border: 1px solid var(--accent-primary) !important;
    background: var(--button-bg-hover);
    box-shadow: 0 0 3px var(--accent-primary), inset 0 0 2px var(--accent-primary);
}

.auto-refresh-toggle-btn .tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0px;
    bottom: 58px;
    background: var(--bg-primary);
    border: 1px solid var(--border-color);
    color: var(--text-secondary);
    font-size: 1em;
    padding: 2px 4px;
    border-radius: 6px;
    white-space: nowrap;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 10;
}
  
.auto-refresh-toggle-btn:hover .tooltip {
    visibility: visible;
    opacity: 1;
}