.ui-button {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  color: var(--text-primary);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

.ui-button:hover {
}

.ui-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.ui-button.primary {
  background: var(--button-bg);
  border: 1px solid var(--border-color);
}

.ui-button.primary:hover {
  background: var(--button-bg-hover);
  border: 1px solid var(--button-bd-hover);
  box-shadow: 0 4px 16px var(--shadow-primary);
}

.ui-button.secondary {
  background-color: var(--accent-secondary);
}

.ui-button.secondary:hover {
  background-color: var(--accent-secondary-hover);
} 