.ui-card {
  /*margin-bottom: 3rem;*/
  padding: 1.5rem 1.2rem;
  border-radius: 6px;
  background-color: #262a33;
  border: 1px solid #2d313a;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}