/* 공통 스크롤바 스타일 */
.custom-scrollbar {
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: var(--scrollbar-thumb) var(--bg-primary);      /* Firefox */
  /* padding-right: 17px !important; */
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  background: var(--bg-primary);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover) !important;
}