.user-profile {
  display: flex;
  padding-left: 13px;
  align-items: center;
}
.user-profile .avatar {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  /* background: #eee; */
  border: none;
  margin-right: 8px;
}
.username {
  font-size: 1em;
  color: var(--text-primary);
  font-weight: 500;
}