.default-page {
  text-align: center;
  padding: 2rem;
  height: calc(100vh - 64px);
}

.logo-container {
  margin-bottom: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.message h2 {
  color: var(--text-secondary);
  margin-bottom: 1rem;
}

.message p {
  color: var(--text-secondary);
  margin-bottom: 0.5rem;
  line-height: 1.5;
} 