.recommendation-page {
  padding: 0.7rem;
  height: calc(100vh - 64px);
  overflow-y: auto;
}

.logo-section {
  position: relative;
  z-index: 0;
  text-align: center;
}

.recommendation-page .logo {
  vertical-align: bottom;
  padding: 0;
  width: 130px;
  height: 130px;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.result-section {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: left;
  padding-bottom: 43px;
}


.card-comment {
  background-color: var(--bg-comment);
  filter: drop-shadow(0 0 0.2em var(--text-primary));
}

.card-summary {
  background-color: var(--accent-primary);
  filter: drop-shadow(0 0 0.2em var(--text-primary));
  border: 1px solid var(--accent-secondary);
  font-weight:700;
}

.card-recommend .card-title {
  font-size: 1em;
  font-weight: 600;
}

.card-recommend .card-desc1 {
  margin-bottom: 10px;
}

.card-recommend .card-desc2 {
  margin-bottom: 5px;
}

.card-recommend .card-url {
  font-size: 0.9em;
}

.rec-button {
  border-radius: 15px;
  padding: 0.8em 1.2em;
  width: 62%;
}

.rec-button div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rec-button .gen_rec_text {
  color: var(--accent-primary);
}