.recommendation-page {
  padding: 0.7rem;
  height: calc(100vh - 64px);
  overflow-y: auto;
}

.logo-section {
  text-align: center;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.screenshot-section {
  margin-top: 10px;
}

.screenshot-image {
  max-width: 100%;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 10px;
}

.result-section {
  width: 100%;
  text-align: left;
}


.card-comment {
  background-color: var(--bg-comment);
  filter: drop-shadow(0 0 0.2em var(--text-primary));
}

.card-summary {
  background-color: var(--accent-primary);
  filter: drop-shadow(0 0 0.2em var(--text-primary));
  border: 1px solid var(--accent-secondary);
}