:root {
    /* Default */
    --bg-primary: #ffffff;
    --bg-secondary: #EDF2FA;
    --bg-third: #e6f7f1;
    --bg-comment: #ffffff;
    --summary-hover: #00381F;
    --shadow-primary: rgba(0,0,0,0.12);
    --border-color: #E1E1E1;
    --accent-primary: #00CE93;
    --accent-hover: #007A5A;
    --accent-secondary: #B3FFE0;
    --accent-secondary-hover: #bef1e8;
    --accent-shadow: #009E73aa;
    --button-bg: #f8f9fa;
    --text-primary: #212529;
    --text-secondary: #6c757d;
    --scrollbar-thumb: #dee2e6;
    --scrollbar-thumb-hover: #EDF2FA;
  }
  
  [data-theme="dark"] {
    --bg-primary: #282828;
    --bg-secondary: #1F2020;
    --bg-third: #1e2a25;
    --bg-comment: #000000;
    --summary-hover: #B3FFE0;
    --shadow-primary: rgba(255,255,255,0.08);
    --border-color: #2d3534;
    --accent-primary: #00CE93;
    --accent-hover: #00B67A;
    --accent-secondary: #B3FFE0;
    --accent-secondary-hover: #8fbf86;
    --accent-shadow: #00CE93aa;
    --button-bg: #000000;/*#1B2020;*/
    --button-bg-hover: rgb(10, 22, 17);
    --button-bd-hover: rgb(93, 141, 84);
    --text-primary: rgba(255, 255, 255, 0.87);
    --text-secondary: #808080;
    --scrollbar-thumb: #1F2020;
    --scrollbar-thumb-hover: #3C3C3C;
  }